
:root{
    --color-fondo: linear-gradient(301deg, rgb(34, 247, 222) 33%, rgb(230, 204, 117) 67%);
    --background-nav:skyblue; 
    --color-nav:black;
}


*{
    box-sizing: border-box;
    margin: 0;
 padding: 0;
 font-family: 'Verdana', serif;


}
nav ul{
    display: flex;
 justify-content: center;
 list-style: none;
 flex-direction: row;
 background-color: var(--background-nav)

}
ul{margin-bottom: 0; }
nav ul li a{
    margin-right: 15px;
    color: var(--color-nav);
    text-decoration: none;
    font-size: 1.5rem;
    
    
    }
    ul li{ list-style: none;}



body {
    background:var(--color-fondo)

}



#Inicio {
    text-align: center; /* Para centrar el contenido */
    font-family: Verdana, sans-serif; /* Cambia la fuente a Arial o una de tu elección */
    font
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 100%; /* Limita el ancho del contenido para una mejor legibilidad */
    padding: 20px; /* Añade espaciado alrededor del contenido */
background-color: whitesmoke;
}


h1{
text-align: center;
font-size: 3rem;

    font-family: 'Franklin Gothic Medium', sans-serif;
       
}

.carousel-control-next-icon, .carousel-control-prev-icon{
   width: 4rem;
   height: 4rem;
    opacity: 1;
 
}





.grid-galeria{
    border: 1px solid red;
    background-color: black;
    width: 90%; 
    display: grid;
    height: 600px;
    margin: 0 auto;
    gap: 5px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.caja{
    background-color: aqua;
}
.img1{
    background: url(../Assets/Diciembre/WhatsApp\ Image\ 2023-10-28\ at\ 11.26.15\ AM.jpeg)no-repeat center/cover;
    grid-row: 1/5;
    grid-column: 1/2;
}

 .img2{
    background: url(../Assets/Diciembre/WhatsApp\ Image\ 2023-10-28\ at\ 11.27.12\ AM.jpeg)no-repeat center/cover;
    grid-row: 1/5;
    grid-column: 2/3;
} 

form {
 

}


#footer{
    padding: 5rem;
}



    .light { 
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
           bottom: 295px;
        position: absolute;
        z-index: 10;
        left: 20px;
        animation: light 800ms ease-in-out 0s infinite alternate;
      }
      .cloud {
        position: absolute;
        top: 0px;
        right: -500px;
        opacity: .7;
         animation: cloud 10s linear 3s 6 reverse; /* ocurre la animacion cloud  6 veces  */
        z-index: 99;

      }
      @keyframes light {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      @keyframes cloud {
        from {right:-500px;}
        to {right: 102%;}
      }
      .d-block {
        width: 75%;
        height: 600px;
        margin: 0 auto;
      }

      @media (min-windth:) {
    